<section [ngSwitch]="selectedPage" class="hero is-fullheight">

  <div *ngSwitchCase="'splash'" class="hero-body splash" (click)="selectedPage = storedPage || 0">    
    <!-- <img src="assets/darren-coleshill-178479.jpg" alt="An Homage to Fromage" /> -->
  </div>

  <div *ngSwitchCase="0" class="hero-body">
      <div class="container content contents">
        <table class="table is-hoverable">
          <tbody>

            <tr (click)="setPage(1)">
              <td>1</td>
              <td>
                <b>Falsely Dualing</b
                ><br>
                <span *ngFor="let cheese of randomiseCheeses(cheeses.rind)">
                    <span class="tag">{{ cheese }}</span>
                  </span>
              </td>
            </tr>

            <tr (click)="setPage(2)">
              <td>2</td>
              <td>
                <b>For Want of Trying</b>
                <br>
                <span *ngFor="let cheese of randomiseCheeses(cheeses.hard)">
                    <span class="tag">{{ cheese }}</span>
                  </span>
              </td>
              
            </tr>
            <tr (click)="setPage(3)">
              <td>3</td>
              <td><b>Evoking Ants</b>
                <br>
                <span *ngFor="let cheese of randomiseCheeses(cheeses.soft)">
                    <span class="tag">{{ cheese }}</span>
                  </span>
              </td>
            </tr>

            <tr (click)="setPage(4)">
              <td>4</td>
              <td>
                <b>Breaking Universal Rules</b>
                <br>
                <span *ngFor="let cheese of randomiseCheeses(cheeses.semiSoft)">
                    <span class="tag">{{ cheese }}</span>
                  </span>
              </td>
            </tr>

            <tr (click)="setPage(5)">
              <td>5</td>
              <td>
                <b>Zed, the Final Letter</b>
                <br>
                <span *ngFor="let cheese of randomiseCheeses(cheeses.strong)">
                    <span class="tag">{{ cheese }}</span>
                  </span>
              </td>
            </tr>

            <tr (click)="selectedPage = 6">
              <td></td>
              <td><i>Acknowledgements</i></td>
            </tr>

            <tr *ngIf="showQuiz" (click)="selectedPage = 7">
              <td></td>
              <td><b>Bonus Quiz!!!</b></td>
            </tr>

          </tbody>
        </table>
        
        <button class="button" (click)="selectedPage = 'splash'"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        </button>
      </div> 
  </div>
  
    <div *ngSwitchCase="1" class="hero-body">
      <div class="container">
        <app-story-1 (pageEmitter)="setPage($event)"></app-story-1>
      </div>
    </div>
    
    <div *ngSwitchCase="2" class="hero-body">
      <div class="container">
        <app-story-2 (pageEmitter)="setPage($event)"></app-story-2>
      </div>
    </div>
    
    <div *ngSwitchCase="3" class="hero-body">
      <div class="container">
        <app-story-3 (pageEmitter)="setPage($event)"></app-story-3>
      </div>
    </div>
    
    <div *ngSwitchCase="4" class="hero-body">
      <div class="container">
        <app-story-4 (pageEmitter)="setPage($event)"></app-story-4>
      </div>
    </div>
    
    <div *ngSwitchCase="5" class="hero-body">
      <div class="container">
        <app-story-5 (pageEmitter)="setPage($event)"></app-story-5>
      </div>
    </div>

    <div *ngSwitchCase="6" class="hero-body">
      <div class="container contents">
        <h2 class="title">Acknowledgements</h2>
        <p>Thanks to all the early-rising cheese producers rolling, spinning and otherwise fondling milk until it turns varying degrees of harder.</p>
        <br>
        <p>Thank you for my complete ignorance concerning the production of cheese.</p>
        <br>
        <button  class="button" (click)="selectedPage = 0"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></button>
      </div>
    </div>
    
</section>