<section [ngSwitch]="selectedPage" class="hero is-fullheight">

  <div *ngSwitchCase="'splash'" class="hero-body splash" (click)="selectedPage = 'contents'">    
    <!-- <img src="assets/darren-coleshill-178479.jpg" alt="An Homage to Fromage" /> -->
  </div>

  <div *ngSwitchCase="'contents'" class="hero-body">
      <div class="container content contents">
        <table class="table is-hoverable">
          <tbody>
            <tr (click)="selectedPage = 'story1'">
              <td>1</td>
              <td>
                <b>Falsely Dualing</b
                ><br>
                <span *ngFor="let cheese of randomiseCheeses(cheeses.rind)">
                    <span class="tag">{{ cheese }}</span>
                  </span>
              </td>
              
            </tr>
            <tr (click)="selectedPage = 'story2'">
              <td>2</td>
              <td>
                <b>For Want of Trying</b>
                <br>
                <span *ngFor="let cheese of randomiseCheeses(cheeses.hard)">
                    <span class="tag">{{ cheese }}</span>
                  </span>
              </td>
              
            </tr>
            <tr (click)="selectedPage = 'story3'">
              <td>3</td>
              <td><b>Evocating Ants</b>
                <br>
                <span *ngFor="let cheese of randomiseCheeses(cheeses.soft)">
                    <span class="tag">{{ cheese }}</span>
                  </span>
              </td>
              
            </tr>
            <tr (click)="selectedPage = 'story4'">
              <td>4</td>
              <td>
                <b>Breaking Universal Rules</b>
                <br>
                <span *ngFor="let cheese of randomiseCheeses(cheeses.semiSoft)">
                    <span class="tag">{{ cheese }}</span>
                  </span>
              </td>
              
            </tr>
            <tr (click)="selectedPage = 'story5'">
              <td>5</td>
              <td>
                <b>Zed, the Final Letter</b>
                <br>
                <span *ngFor="let cheese of randomiseCheeses(cheeses.strong)">
                    <span class="tag">{{ cheese }}</span>
                  </span>
              </td>
              
            </tr>
          </tbody>
        </table>
        
        <button class="button" (click)="selectedPage = 'splash'"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
        </button>
      </div> 
  </div>
  
    <div *ngSwitchCase="'story1'" class="hero-body">
      <div class="container">
        <app-story-1 (pageEmitter)="setPage($event)"></app-story-1>
      </div>
    </div>
    
    <div *ngSwitchCase="'story2'" class="hero-body">
      <div class="container">
        <app-story-2 (pageEmitter)="setPage($event)"></app-story-2>
      </div>
    </div>
    
    <div *ngSwitchCase="'story3'" class="hero-body">
      <div class="container">
        <app-story-3 (pageEmitter)="setPage($event)"></app-story-3>
      </div>
    </div>
    
    <div *ngSwitchCase="'story4'" class="hero-body">
      <div class="container">
        <app-story-4 (pageEmitter)="setPage($event)"></app-story-4>
      </div>
    </div>
    
    <div *ngSwitchCase="'story5'" class="hero-body">
      <div class="container">
        <app-story-5 (pageEmitter)="setPage($event)"></app-story-5>
      </div>
    </div>
    
</section>